<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="GitHubConnection" type="AlbumVersionControl.Configs.GitHubConnectionConfigSection, AlbumVersionControl" />
  </configSections>
  <GitHubConnection>
    <Connections>
      <add login="" password="" />
    </Connections>
  </GitHubConnection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>  
    <add key="GeneratedClassesFolder" value="C:\Users\User\Desktop\VersionContent"/>
    <add key="VersionContentFolder" value="C:\Users\User\Desktop\VersionContent"/>
  </appSettings> 
</configuration>