<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
    <section name="GitHubConnection" type="AlbumVersionControl.Configs.GitHubConnectionConfigSection, AlbumVersionControl" />
  </configSections>
  <GitHubConnection>
    <Connections>
      <add login="kodboss" token="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" />
    </Connections>
  </GitHubConnection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>